.main--container {
    background-color:#9073e0;
    display: flex;
    flex-direction: column;
}

.main--navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
}

.main--logo {
    max-height: 60px;
}

.main--home {
    font-family:'Oswald';
    font-style:normal;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.main--logout {
    font-family:'Oswald';
    font-style:normal;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-right:20px;
    margin-top: 7px;
}

.login--body {
    background-image:url('./Background.png');
    background-size:cover;
    background-position: center;
    font-family:'Oswald';
    font-style:normal;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 90vw;
    background: #F6D2FC;
    padding: 100px;
    margin: 20px;

}

.login--title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-style: normal;
    font-size:70px;
    line-height: 48px;
    color: #000000;
  }

.login--email {
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login--password {
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login--signin {
    margin-top: 30px;
    background-color:#AD78F0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.login--usernameText {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.login--passwordText {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.login--register {
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-display:inherit;
    border: none;
    background:rgb(95, 8, 129);
    padding: 5px;
    color:#decdff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register--page {
    display: flex;
    justify-content: center;
}

.register--form {
    width: 400px;
    padding: 20px;
}

.register--title {
    color: #decdff;
    text-align: center;
}

.register--email {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    height: 40px;
}

.register--password {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    height: 40px;
}

.register--confirmpassword {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    height: 40px;
}

.register--email:focus {
    background-color: #ddd;
    outline: none;
}

.register--password:focus {
    background-color: #ddd;
    outline: none;
}

.register--confirmpassword:focus {
    background-color: #ddd;
    outline: none;
}

.register--submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    float: left;
    width: 50%;
}
  
.register--submit:hover {
    opacity:1;
}

.register--login {
    padding: 14px 20px;
    background-color: #f44336;
    float: left;
    width: 50%;
    height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.register--ready {
    color:white;
    text-decoration: none;
    font-size: 20px;
    border: solid 2px rgb(57, 6, 87);
    background-color:#AD78F0;
    padding: 10px;
    margin-bottom: 20px;
}

.home--container {
    display: flex;
    flex-direction: column;
}

.home--send {
    width: 200px;;
    align-self: center;
    margin: 20px;
    margin-bottom: 0px;
}

.home--review {
    width: 200px;
    align-self: center;
    margin: 20px;
}

.locate--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locate--title {
    color:#decdff;
    font-size: 40px;
}

.locate--form {
    text-align: center;
}

.locate--zip {
    
}

.locate--or {
    text-align: center;
    color:#decdff;
    margin: 20px;
}

.locate--city {
    margin: 5px;
}

.locate--state {
    margin: 5px;
}

.locate--submit {
    margin: 10px;
}

.choices--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices--generate {
    align-self: center;
    width: 300px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.choices--list {
    background:#decdff;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.choices--listitem {
    width: 320px;
    list-style: none;
    margin: 30px;
    margin-left: 0px;
    background-color:#e4c3f1;
    border: solid 1px #6b3377;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices--name {
    margin: 10px;
    background-color:#470953;
    color:#c0abe0;
    width: 100%;
}

.choices--image {
    width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.choices--address {
    width: 300px;
}

.choices--map {
    margin-bottom: 10px;
}

.choices--open {
    background-color:#75dbb6;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.choices--closed {
    background-color:#db7c75;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.choices--hours {
    width: 300px;
}

.choices--phone {
    
}

.choices--call {
    margin-bottom: 10px;
}

.choices--type {
    color:#6b3377;
}

.choices--add {
    margin: 20px;
}

.choices--remove {
    margin: 20px;
}

.invite--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#decdff;
}

.invite--title {
    margin: 10px;
}

.invite--form {
    background-color:#AD78F0;
    padding: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.invite--email {
    width: 50vw;
}

.invite--add {
    
}

.invite--deadline {
    text-align: center;
}

.invite--date {
    
}

.invite--submit {
    
}

.invite--list {
    list-style: none;
    text-align: right;
    margin-top: 5px;
}

.invite--listitem {
    margin-bottom: 5px;
    background-color:#e4c3f1;
    border: solid 2px black;
}

.invite--remove {
    margin-left: 10px;
}

.link--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link--title {
    color:#e4c3f1;
}

.link--link {
    color:#decdff;
    width: 300px;
    margin: 10px;
    margin-bottom: 20px;
}
.link--email {
    margin-bottom: 20px;
}

.link--sent {
    margin-bottom: 20px;
}

.review--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review--title {
    color:#e4c3f1;
    background-color:#390850;
    padding: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.review--home {
    margin-bottom: 20px;
}

.finalist--container {
    display: flex;
    flex-direction: column;
    background-color:#c9a9f3;
    align-self: center;
}

.finalist--completed {
    color:#e0b3f5;
    background-color:#390850;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.finalist--completedlist {
    list-style: none;
}

.finalist--completedlistitem {
    
}

.finalist--expireddate {
    color:#177245;
}

.finalist--pending {
    color:#e0b3f5;
    background-color:#390850;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.finalist--pendinglist {
    list-style: none;
}

.finalist--pendinglistitem {
    
}

.finalist--pendingdate {
    color:#611c17
}

.invitedguests--title {

}

.invitedguests--noguests {

}

.invitedguests--name {
    list-style: none;
}

.preferred--title {
    
}

.preferred--none {
    
}

.preferred--break {
    width: 100%;
    margin-left: 0px;
    background-color:#9073e0;
    opacity: 1;
    padding: 20px;
}

.guest--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.guest--creator {
    color:#f1bff8;
}

.guest--host {
    color:#e0b3f5;
}

.guest--expired {
    
}

.guest--unexpiredcontainer {
    
}

.guest--title {
    color:#decdff;
}

.guest--candidates {

}

.guest--empty {

}

.guest--list {
    
}

.guest--listitem {
    width: 320px;
    list-style: none;
    margin: 30px;
    margin-left: 0px;
    background-color:#e4c3f1;
    border: solid 1px #6b3377;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guest--radio {

}

.guest--up {
    margin-right: 5px;
}

.guest--down {
    margin-right: 5px;
    margin-left: 20px;
}

.guest--submit {
    margin-bottom: 20px;
}

.guest--submitted {
    margin-bottom: 20px;
    color:#ebdaff;
}