
.main--container {
    background-color:#392759;
    display: flex;
    flex-direction: column;
   

}

.main--navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
}

.main--logo {
    max-height: 50px;
}

.main--home {
    font-family:'Oswald';
    font-style:normal;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.main--logout {
    font-family:'Oswald';
    font-style:normal;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-right:20px;
    margin-top: 7px;
}

.login--body {
    background-image:url('./Background.png');
    background-size:cover;
    background-position: center;
    font-family:'Oswald';
    font-style:normal;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 50vw;
    background: #F6D2FC;
    padding: 100px;
    margin: 20px;
    border-radius: 25px;
}

.login--title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-style: normal;
    font-size:70px;
    line-height: 48px;
    color: #000000;
  }

.login--email {
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login--password {
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login--signin {
    margin-top: 30px;
    background-color:#AD78F0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    border-radius: 10px;
}

.login--usernameText {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.login--passwordText {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.login--register {
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-display:inherit;
    border: none;
   background-color: #AD78F0;
    padding: 5px;
    color:#ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border-radius: 10px;
}

.register--page {
    height: 100vh;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.register--form {
    background-color: white;
    width: 800px;
    padding: 20px;
    height: 60vh;
}

.register--title {
    color: #decdff;
    text-align: center;
}

.register--email {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    height: 40px;
}

.register--password {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    height: 40px;
}

.register--confirmpassword {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    height: 40px;
}

.register--email:focus {
    background-color: #ddd;
    outline: none;
}

.register--password:focus {
    background-color: #ddd;
    outline: none;
}

.register--confirmpassword:focus {
    background-color: #ddd;
    outline: none;
}

.register--submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    float: left;
    width: 50%;
}
  
.register--submit:hover {
    opacity:1;
}

.register--login {
    padding: 14px 20px;
    background-color: #f44336;
    float: left;
    width: 50%;
    height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.register--ready {
    color:white;
    text-decoration: none;
    font-size: 20px;
    border: solid 2px rgb(57, 6, 87);
    background-color:#AD78F0;
    padding: 10px;
    margin-bottom: 20px;
    height: 58px;
}

.home--container {
    display: flex;
    flex-direction: column;
    background-color: #8693AB;
    background-image: url("food-trends-1.jpg");
    background-repeat: no-repeat;
    padding: 38vh;
    background-size: cover;
}

.home--send {
    width: 500px;;
    align-self: center;
    margin: 20px;
    margin-bottom: 0px;
    font-size: 35px;
}

.home--review {
    width: 500px;
    align-self: center;
    margin: 20px;
    margin-bottom: 0px;
    font-size: 35px;
}

.locate--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    background-color: #E8F0FF;
    
}

.locate--title {
    color:#000000;
    font-size: 40px;
}

.locate--form {
    text-align: center;
    width: 70vh;
    background-color: #8693AB;
    border-radius: 25px;
    padding: 35px;
}

.locate--zip {
    border-radius: 5px;
    
    
}

.locate--or {
    text-align: center;
    color:#000000;
    margin: 20px;
}

.locate--city {
    margin: 5px;
    border-radius: 5px;
}

.locate--state {
    margin: 5px;
    border-radius: 5px;
}

.locate--submit {
    margin: 10px;
    background-color: #3e5dff;
    color: #fdfdff;
    width: 150px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 25px;
}

.choices--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D5B3DB;

}

.choices--generate {
    align-self: center;
    width: 300px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.choices--list {
    background:#8693AB;
    display: flex;
    flex-direction: column;
    width:60vw;

}

.choices--listitem {
    width: 320px;
    list-style: none;
    margin: 30px;
    margin-left: 0px;
    display: flex;
    align-items: center;
}
.name---image{
    position: relative;
    display: flex;
    flex-direction: column;

}
.choices--name {
    margin: 60px;
    font-size: 40px;
    color:#000000;
    width: 100%;
    margin-top: 50px;
    display: block;
    position: relative;
    right: 60px;
    top: -15px;
}

.choices--image {
    max-width: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    height: auto;
    position: relative;
    top: -70px;

}

.choices--address {

}

.choices--map {
    margin-bottom: 10px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #D9D9D9;    
    border: none;
}

.choices--open {
    background-color:#178021;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.choices--closed {
    background-color:#db7c75;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.choices--hours {
    width: 300px;
}

.choices--phone {
    border-radius: 25px;
    border: none;

}

.choices--call {
    margin-bottom: 10px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #D9D9D9;
    border: none;
    margin: 10px;
}

.choices--type {
    font-size: 20px;
    color: #000000;

}

.choices--add {
    margin: 20px;
    height: 70px;
    width: 300px;
    border: none;
    font-size: 30px;
}

.choices--remove {
    margin: 20px;
    height: 70px;
    width: 300px;
    border: none;
    font-weight: bold;
}
.info--div{
    background-color: #8693AB;
    align-content: left;
    margin: 30px;
}

.invite--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#D9D9D9;
    height: 93vh;
}

.invite--title {

}

.invite--form {
    background-color:#FFFFFF;
    padding: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.invite--email {
    width: 50vw;
}

.invite--add {
    
}

.invite--deadline {
    text-align: center;
}

.invite--date {
    
}

.invite--submit {
    
}

.invite--list {
    list-style: none;
    text-align: right;
    margin-top: 5px;
}

.invite--listitem {
    margin-bottom: 5px;
    background-color:#ffffff;
    border: solid 2px black;
}

.invite--remove {
    margin-left: 10px;
}

.link--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    height: 94vh;
    justify-content: center;
}

.link--title {
    color:#000000;
}

.link--link {
    color:#000000;
    width: 300px;
    margin: 10px;
    margin-bottom: 20px;
}
.link--email {
    margin-bottom: 20px;
}

.link--sent {
    margin-bottom: 20px;
}

.review--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8693AB;
}

.review--title {
    color:#000000;
    background-color:#F6D2FC;
    padding: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.review--home {
    margin-bottom: 20px;
    background-color: #AD78F0;
    height: 50px;
    width: 100px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.finalist--container {
    display: flex;
    flex-direction: column;
    background-color:#c9a9f3;
    align-self: center;
}

.finalist--completed {
    color:#000000;
    background-color:#F6D2FC;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.finalist--completedlist {
    list-style: none;
    padding-right: 20px;
}

.finalist--completedlistitem {
    
}

.finalist--expireddate {
    color:#177245;
}

.finalist--pending {
    color:#000000;
    background-color:#F6D2FC;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.finalist--pendinglist {
    list-style: none;
    padding-right: 20px;
}

.finalist--pendinglistitem {
    
}

.finalist--pendingdate {
    color:#611c17
}

.invitedguests--title {

}

.invitedguests--noguests {

}

.invitedguests--name {
    list-style: none;
}

.preferred--title {
    
}

.preferred--none {
    
}

.preferred--break {
    width: 100%;
    background-color:#9073e0;
    opacity: 1;
    padding: 20px;

}

.guest--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E8F0FF;
}

.guest--creator {
    color:#000000;
}

.guest--host {
    color:#000000;
}

.guest--expired {
    
}

.guest--unexpiredcontainer {
    
}

.guest--title {
    color:#000000;
}

.guest--candidates {

}

.guest--empty {

}

.guest--list {
    
}

.guest--listitem {
    width: 1005px;
    list-style: none;
    margin: 30px;
    margin-left: 0px;
    background-color:#8693AB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guest--radio {
}

.guest--up {
    margin-right: 5px;
    margin-bottom: 20px;
}

.guest--down {
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.guest--submit {
    margin-bottom: 20px;
}

.guest--submitted {
    margin-bottom: 20px;
    color:#000000;
}
.results--list {
    background:#8693AB;
    display: flex;
    flex-direction: column;
    width:60vw;
    display: flex;
    align-items: center;
}

.results--listitem {
    width: 320px;
    list-style: none;
    margin: 30px;
    margin-left: 0px;
    align-items: center;
}
.results--image {
    max-width: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    height: auto;
    position: relative;
    right: 45px;

}

.choices--address {

}

.results--map {
    margin-bottom: 10px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #D9D9D9;    
    border: none;
}

.results--open {
    background-color:#178021;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.results--closed {
    background-color:#db7c75;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.results--hours {
    width: 300px;
}

.results--phone {
    border-radius: 25px;
    border: none;

}

.results--call {
    margin-bottom: 10px;
    border-radius: 25px;
    text-decoration: none;
    background-color: #D9D9D9;
    border: none;
    margin: 10px;
}

.results--type {
    font-size: 20px;
    color: #000000;

}