<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="styles.css">
    <title>Document</title>
</head>
<body id="Home-body">
    <nav id = "nav">
        <div id="logo-name">
            <img src="..\Main\tindinnerlogo.png" alt="logo" id="header-img">
        <h1 id="Tindinner">Tindinner</h1>
        </div>
        <div id="buttons-div">
            <button id="nav-buttons">Home</button> 
            <button id="nav-buttons"> Invite your friends</button> 
            <button id="nav-buttons">Log out</button> 
     </div>
    </nav>
    <div id="body-div">
    <h2>Search for Restaurants in your area:</h2>
    <label for="City" id="city">City:</label>
    <input type="text" name="city" id="city-input">
    <label for="State" id="state">State:</label>
    <input type="text" name="state" id="state-input">
    <label for="Zip" id="zip">Zipcode:</label>
    <input type="number" name="zip" id="zip-input">
    <button type="submit">Search</button>
    </div>
</body>
</html>